#bd
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=xd
MYSQL_DB=xd
MYSQL_PORT=3306

#auth
SECRET_KEY = "09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30

#Uvicorn
UVICORN_HOST = "localhost"
UVICORN_PORT = 8000

#Sockets
SOCKETS_HOST = "localhost"
SOCKETS_PORT = 8000
